{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <form action="/settings" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="birthday" placeholder="Birthday(yyyy-mm-dd)" type="date">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="item" placeholder="Item" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="price" placeholder="Price" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Information</button>
    </form>
{% endblock %}